@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="content px-4">
            @Body
        </div>
        <p style="font-size: xx-small;">Ver: ##VER##</p>
    </div>
</div>
